header {

    background: '#ebebeb';
    background-color: #ebebeb;
    text-align: center; color: grey; line-height: 125px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 200px;
    margin-left: 200px;
    height:125px;
    width: 990px;    
    }



body {

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: '#777';
    background: '#777';
    width: '960px';
    font-size: '18px';
    background-color: grey;
   


    }

 nav {
    background: '#ebebeb';
    background-color: #ebebeb;
    text-align: center; line-height: 125px;color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 200px;
    margin-left: 200px;
    height:125px;
    width: 990px;
     
    }
  

section {
  
    background: '#ebebeb';
    background-color: #ebebeb;
    text-align: center; color: grey;
    height: 280px; 
    width: 515px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 200px;
    float: left;
    }

     

 article {
    padding: 10px 10px 10px 10px;
    color: '#ebebeb';
    background: '#777';
    background-color: grey;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 185px;
    width: 475px;
    color: #ebebeb;
    
        
    }



    .h1andp {

    color: '#777';
    background: '#ebebeb';
    background-color: #ebebeb;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 50px;
    line-height: 50px; color: grey;

   

    }

    


    aside {

    background: '#ebebeb';
    background-color: #ebebeb;
    text-align: center; color: grey;
    float: left;
    height: 280px; 
    width: 450px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 200px;
    margin-left: 25px;
    line-height: 92.5px;

    }

    footer {

    background: '#ebebeb';
    background-color: #ebebeb;
    text-align: center; color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 200px;
    margin-left: 200px;
    height:125px;
    width: 990px;
    line-height: 125px;
    clear: both;

    }
